<%- include partials/header.js %>
    
  <div class="section">
     <a class="center-block"> <img src="images/pic.jpg" id="mypic" alt="my image Antanik Mitra" class="circle responsive-img"></a>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Section 2</h5>
    <p>Stuff</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Section 3</h5>
    <p>Stuff</p>
  </div>
    </body>
<%- include partials/footer.js %>
    </html>