<%- include partials/header.js %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="center-block"><img src="images/pic.jpg" class="img-responsive img-circle center-block" style="width:50%" /></a>
                <p>I am Antanik Mitra and I would be happy to guide you and help you to make the perfect user experince.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    </div>
    </body>
<%- include partials/footer.js %>
    </html>