<%- include partials/header.js %>
    
  <div class="section" id="sec1">
  <h1 class="center" id="who"> WHO AM I? </h1>
  
     <a> <img src="images/pic.jpg" id="mypic" alt="my image Antanik Mitra" class="circle responsive-img center-block"></a>
   <p class="center">A passionate and hardworking person new to this field.Having some experience as IT tech help and in front-end designing.Did some freelancing work for non charitable organizations and firms.Antanik is capable of great creativity, functionality and productivity to this field.</p>
  </div>
     </body>
<%- include partials/footer.js %>
    </html>