<%- include partials/header.js %>
    <h1 class="center">Contact me</h1>
  <div class="row">
    <form class="col s12" id="form">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="icon-prefix" type="text" class="validate">
          <label for="icon-prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="icon-prefix" type="text" class="validate">
          <label for="icon-prefix">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="icon-phone" type="tel" class="validate">
          <label for="icon-phone">Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="icon-mail" type="email" class="validate">
          <label for="icon-mail">Email</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn">SUBMIT</a>
    </form>
  </div>
        
    </div>
    </body>
<%- include partials/footer.js %>
    </html>