<%- include partials/header.js %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               class="responsive-img"
               <img src="/images/main.png" alt=" logo " class="img-responsive center-block"/>
            </div>
        </div>
      
    </div>
</div>
    </body>
<%- include partials/footer.js %>
    </html>
    
  