<%- include partials/header.js %>
 <div class="section" id="port1"> 
 <h1 class="center">What did I do ? </h1>
 </div> 
 <div class="section" id="port2">  
 <div class="row">
      <div class="col s4">
       <a href="http://www.hamidlawoffice.com/">
       <img border="0" class="responsive-img img-thumbnail" alt="Hamid law Office" src="/images/hamid.png" width="400" height="300">
       <p class="center" id="headOne"><b>Hamid Law Office</b></p>
       </a>
  </div>
  
      <div class="col s4">
      <a href="http://gc200292856.computerstudi.es/semester3/Jeff_project/project/contact.html">
      <img border="0" class="responsive-img img-thumbnail" alt="Assignment1_semester 3" src="/images/assignment1.png" width="400" height="300">
      <p class="center" id="headTwo"><b>Assignment1</b></p>
      </a>
      </div>
      
      <div class="col s4">
      <a href="http://gc200292856.computerstudi.es/semester3/assignment1_melissa/assignment1/">
      <img border="0" class="responsive-img img-thumbnail" alt="assignment2_sem3" src="/images/assignment2.png" width="400" height="300">
      <p class="center" id="HeadThree"><b>Assignment2</b></p>
      </a>
      </div>
    
    </div>   
    
   </div>    
   <!-- /.row -->
    </div>
    </div>
    </body>
<%- include partials/footer.js %>
    </html>