<%- include partials/header.js %>
     <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Some of my works</h1>
               <section id="portfolio">
        <div class="container">
            <h2 class="section-heading text-center" id="description">What did I do?</h2>
            <div class="row">
                <div class="col-lg-4">
                    <a href="http://www.hamidlawoffice.com/">
                        <img border="0" class="img-responsive img-thumbnail" alt="Hamid law Office" src="/images/hamid.png" width="400" height="300">
                        <p class="text-center" id="headOne"><b>Hamid Law Office</b></p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://gc200292856.computerstudi.es/semester3/Jeff_project/project/contact.html">
                        <img border="0" class="img-responsive img-thumbnail" alt="Assignment1_semester 3" src="/images/assignment1.png" width="400" height="300">
                        <p class="text-center" id="headTwo"><b>Assignment1</b></p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://gc200292856.computerstudi.es/semester3/assignment1_melissa/assignment1/">
                        <img border="0" class="img-responsive img-thumbnail" alt="assignment2_sem3" src="/images/assignment2.png" width="400" height="300">
                        <p class="text-center" id="HeadThree"><b>Assignment2</b></p>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>
            </div>
        </div>
        <!-- /.row -->
    </div>
    </div>
    </body>
<%- include partials/footer.js %>
    </html>