<%- include partials/header.js %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Welcome to service page</h1>
              
            </div>
        </div>
        <!-- /.row -->
    </div>
    </div>
    </body>
<%- include partials/footer.js %>
    </html>