<%- include partials/header.js %>
    <div class="row" id="service">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">DEVELOPMENT</h5>

            <p class="light">We provide users great quality product which is user friendly and easy to operate. We use some of the core web designing languages such as HTML, CSS, BOOTSTRAP, MATERIALIZE. Database management such as MySQL,PHP etc.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of functionality and  Design, we were able to create  frameworks that incorporates functionality and design that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center white-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We are there to guide you and help you to give you the user experience you expected.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

        <!-- /.row -->
    </div>
    </div>
    </body>
<%- include partials/footer.js %>
    </html>